@model JustJobs.Models.Interview

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Interview</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Interview Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterviewDate)
        </dd>
        <dt class="col-sm-2">
            Associated Application
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobApplication.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            Location
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            Meeting
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VirtualMeetingLink)
        </dd>
        <dt class = "col-sm-2">
            Interviewer Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterviewerName)
        </dd>
        <dt class = "col-sm-2">
            Interviewer Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterviewerEmail)
        </dd>
        <dt class = "col-sm-2">
            Feedback
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Feedback)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
